@using CoreFramework4;
@model IEnumerable<jclitenet.Models.SideMenuModelItem>

@{
    ViewBag.Title = "Welcome to jclitenet.com";
}

<ul class="tutorial-list-container">
</ul>

<div id="tutorialNextResultButton" class="box paging-button">
    <i class="icon-spinner icon-spin icon-2x" style="display:none;"></i>
    <h2>Next Result</h2>
</div>