@{
    ViewBag.Title = "My Portfolio";
}

<script data-main="../assets/js/main" src="~/assets/js/lib/require/require.js"></script>
<script src="~/assets/js/lib/modernizr/modernizr-2.8.3.js"></script>

<div ng-view>
</div>
