<div id="advertisement" class="center-layout box-border">
    <ul id="radio_menu">
        <li><span>1</span>
            <div class="hidden">
                <div class="info_image">
                    /Content/images/bg1_1.gif</div>
                <div class="info_heading">
                    Home</div>
                <div class="info_description">
                    <span>Welcome to jclitenet.com</span>
                    <br />
                     <a class="more" href="/" style="margin-right: -20px; opacity: 0.7;">Read more</a>
                </div>
            </div>
        </li>
        <li><span>2</span>
            <div class="hidden">
                <div class="info_image">
                    /Content/images/bg2_2.gif</div>
                <div class="info_heading">
                    Photo Gallery</div>
                <div class="info_description">
                    <span>My Photo Gallery</span>
                    <br />
                    <a class="more" href="@Url.Action("Index", "PhotoGallery")" style="margin-right: -20px; opacity: 0.7;">
                        Read more</a>
                </div>
            </div>
        </li>
        <li><span>3</span>
            <div class="hidden">
                <div class="info_image">
                    /Content/images/bg3_3.gif</div>
                <div class="info_heading">
                    Tutorials</div>
                <div class="info_description">
                    <span>All of my lastest tutorials</span>
                    <br />
                    <a class="more" href="@Url.Action("Index", "Tutorial")" style="margin-right: -20px; opacity: 0.7;">Read more</a>
                </div>
            </div>
        </li>
        <li><span>4</span>
            <div class="hidden">
                <div class="info_image">
                    /Content/images/bg4_4.gif</div>
                <div class="info_heading">Blog</div>
                <div class="info_description">
                    <span>Recent blog posts</span>
                    <br />
                    <a class="more" href="#" style="margin-right: -20px; opacity: 0.7;">Read more</a>
                </div>
            </div>
        </li>
    </ul>
    <div id="rotator1">
        <img class="bg" src="/Content/images/bg1_1.gif" height="200" alt="" />
        <div class="heading">
            <h1>
            </h1>
        </div>
        <div class="topinfo">
            <p>
            </p>
        </div>
    </div>
</div>
