<div id="footer" class="box-border">
    <div class="footerContent center-layout">
        <div class="copyright">
            <span>Copyright © 2011-2012 @Html.ActionLink("jclightnet.com", "Index", "Home") Inc. All rights reserved.</span>
            <br />
            <br />
            <span>Powered By MVC 3 | Entity Framework 4.1 | SQL Server 2008 R2 | StructureMap (IoC) | Domain Driven Development(DDD)</span>
        </div>
    </div>
</div>
