@model jclitenet.Models.LogOnModel
@using CoreFramework4

<div class="logindisplay-wrapper">
    <fieldset class="logon-fieldset">
        <legend ></legend>
        @using (Html.BeginForm("LogOn", "Account")) 
        {
            <div class="text-spacer">
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { Class = "inputText", placeholder = "Email" })
                
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { Class = "inputText", placeholder = "Password" })
            </div>
           
            <div class="text-spacer">
                <input type="submit" id="btnLogon" value="Log On" />
            </div>
        }

    </fieldset>
</div>