@using CoreFramework4

@model IEnumerable<jclitenet.Models.SideMenuModelItem>

<ul class="side-menu">
    @foreach (var item in @Model)
    {
        <li>
            <a href="@item.Href">
                <span class="post-title">@item.Title</span><br />

                @if(item.Posted > DateTime.MinValue)
                {
                    <span class="archive-date">@item.Posted.ToLongDateString()</span>
                }
            </a>
        </li>    
    }
</ul>